@model _1234.Models.Product
@{
    ViewBag.Title = "Добавление товара";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Count" class="control-label">Кол-во на складе</label>
        <input type="number" onkeyup="if(this.value<0){this.value= this.value * -1}" asp-for="Count" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Count" class="control-label">Цена</label>
        <input type="number" onkeyup="if(this.value<0){this.value= this.value * -1}" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
        <a class="btn btn-primary px-6" role="button" asp-action="Index">Назад</a>
    </div>
</form>
