@model _1234.Models.Product
@{
    ViewBag.Title = "Удаление товара";
}

<div class="m-6">
    <ul class="list-group">
        <li class="list-group-item">
            Название: @Html.DisplayFor(model => model.Name)
        </li>

        <li class="list-group-item">
            Кол-во на складе:
            @Html.DisplayFor(model => model.Count)
        </li>
        <li class="list-group-item">
            Цена:
            @Html.DisplayFor(model => model.Price)
        </li>
        <li class="list-group-item">
            Описание:
            @Html.DisplayFor(model => model.Description)
        </li>
    </ul>


</div>
<div style="padding: 15px">
    <form asp-controller="Home" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary p-6" value="Удалить" />
        </div>
        <a class="btn btn-primary px-6" role="button" asp-action="Index">Назад</a>
    </form>
</div>